h1 {
    font-family: Georgia;
}
#mainField {
    margin: 0 auto;
    width: 80%;
    border:0;
}
#Colors {
    border: 2px solid gray;
}
#Colors div {
    float: left;
    min-width: 50px;
    max-width: 800px;
    width: 450px;
    margin: 20px 3px;
    padding: 15px 0;
    text-align: center;
    line-height: 2;
}

fieldset {
    display: flex;
}

#Coolblue {
    background-color: #2d5dcc;
    color: white;
}

#Pink {
    background-color: #d957d9;
}

#MintGreen {
    background-color: #4fe0b0;
}

#Beige {
    background-color: #efd9ca;
}

